.panel {
    background: rgba(0,0, 0, 0.6);
    z-index: 999999;
    position: fixed;
    left: -12em; /*or width of your navigation panel*/
    width: 12em; /*should match the above value*/
    padding-top:30px;
}

.panel a {
    display: block;
    padding: 0.8em;

}


.panel a:link,
.panel a:visited {
    color: #fff;
    text-decoration: none; 
}

.panel a:hover,
.panel a :active {
    background: #0ec899;
}


a:link,
a:visited {
    text-decoration: none;
}

.p a{
    color:#fff;
}

.menu-link {
    font-size: 2em;
    position:fixed; 
    overflow:visible;
    z-index: 1;
    margin:30px 0 0 40px; 
}

.yo { 
    position: relative; 
}

.ls-screen {
    display: block;
    background: url('images/helen.jpg');
    width: 300px;
}

.third {
    background: blue;
}

#main-wrap>div {
    position: relative;
    margin: auto;
    text-align: center;
}

#main-wrap>div>div {
    margin: auto;
    text-align: center;
}

.up-down-arrows {
    display:block;
    position:fixed;
    top:85%;
    margin-left:90%;   
}

.arrow {
    cursor:pointer;
}


.top-menu {
    display: block;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    
} 


.intro {
    background-width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.tech {
    background: #e74949;
}

.learning{
    background: #3d5fc4;
}

.love{
    background:#ad8ec3;
}

.future{
    background-width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



