
.panel {
    background: rgba(0,0, 0, 0.6);
    z-index: 999999;
    position: fixed;
    left: -12em; /*or width of your navigation panel*/
    width: 12em; /*should match the above value*/
    
}

.panel a {
    display: block;
    padding: 1em;
    margin-top:15px;
}

.panel a:link,
.panel a:visited {
    color: #fff;
    text-decoration: none; 
}

.panel a:hover,
.panel a:active {
    background: #0ec899;
}

a:link,
a:visited {
    text-decoration: none;
}


.container {
	overflow:hidden;
	width:100%;
	float: left;
	position: relative;
}

.wrap { 
    position: relative; 
}

.menu-link {
    font-size: 2em;
    position:absolute; 
    margin:30px 0 0 40px; 
}

.profile {
	overflow:visible;
	float:left;
	position:relative;
	display:block;
	width:26%; 
	text-align:center; 
	padding-bottom:40px; 
	margin: 40px 37% 0px 37%;
}

.profile img{
	height: 65%;
	width:65%;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.profile img:hover {
	width:78%;
	height:78%;
}

.bio {
	overflow:hidden;
	width:100%;
	float: left;
	position: relative;
	text-align:center; 
}
.bio h5 {
	overflow:hidden;
	float: left;
	position: relative;
	text-align:center;
	width: 36%; margin:15px 32% 35px 32%; 
}

.nav {
    text-align: center;
    position:relative;
	width:100%;
	float: left;
	padding-bottom: 30px;
}

.navlinks li{
	display:inline;
	margin: 0em 0.5em 0em 0.5em;
}



.teaser {
	overflow:hidden;
	width:33.33%;
	float: left;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
 }

.teaser:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.description  {
	background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;

    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);

    -webkit-transition: transform 350ms ease-in-out;
    -moz-transition: transform 350ms ease-in-out;
    -o-transition: transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out;

    /* Text styling */
    font-size: 14px;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.teaser:hover .description {
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -webkit-transform: translateY(0%);
        transform: translateY(0%);

}

.teaser:hover{
    -webkit-filter: grayscale(50%);
    transition: -webkit-filter .2s;
    -webkit-transform: translateZ(0); 
}

img.greyscale{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	opacity: 0.6;
    filter: alpha(opacity=60);
}


.footer {
    text-align: center;
    position:relative;
	width:100%;
	float: left;
	padding-bottom:40px;
}


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {


		.teaser {
			overflow:hidden;
			width:50%;
			float: left;
			position: relative;
		}

		.teaser:before {
		    content: "";
		    display: block;
		    padding-top: 75%; 
		}
}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.extra{
			display:none !important;
		}

		.profile{
			text-align: center;
			margin-bottom: 10px;
			width:40%;
			margin-left:30%;
			margin-right:30%;
		}
		.bio h5 {
	overflow:hidden;
	float: left;
	position: relative;
	text-align:center;
	width: 60%; margin:15px 20% 35px 20%; 
}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.teaser {
			overflow:hidden;
			width:100%;
			float: left;
			position: relative;
		}

		.teaser:before {
		    content: "";
		    display: block;
		    padding-top: 75%; 
		}

		.profile{
			text-align: center;
			margin-bottom: 10px;
			width:50%;
			margin-left:25%;
			margin-right:25%;
		}

		.bio h5 {
	overflow:hidden;
	float: left;
	position: relative;
	text-align:center;
	width: 80%; margin:15px 10% 35px 10%; 
}


		.description p{
			display: none;
		}

		.description{
			transform: translateY(0%);
		    -moz-transform: translateY(0%);
		    -o-transform: translateY(0%);
		    -webkit-transform: translateY(0%);
		}

		.description h6{
			color: #fff;
			border: 0;
		}
